*{
    margin: 0;
    padding: 0;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #000;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 3% 2%;
    z-index: 10;
}
.Encabezado{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Encabezado .Logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.2%;
    transition: 1.5s;
    text-decoration: none;
}
.Logo{
    position: relative;
}
  
.Logo::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6%;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
  
.Logo:hover::after{
    transform: scaleX(1);
}
.abajo .Logo::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6%;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
  
.abajo .Logo:hover::after{
    transform: scaleX(1);
}
header.abajo{
    background: #fff;
    padding: 1% 2%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(20px);
}
header.abajo .Logo, header.abajo ul li a{
    color: #000;
}
header.abajo .Desplegable > li:hover > a{
    color: #ffffff;
}
header.abajo .Desplegable > li:hover{
    background-color: rgb(0, 0, 0);
}
header.abajo .Desplegable a:Hover{
    color: #ffffff;
}
header.abajo .Material li a{
    background-color: #fff;
    color: #000000;
}
header.abajo .Material li a:hover{
    background-color: #131313e3;
    color: #ffffff;
}
header.abajo .Material .L{
    border-top: 0.3% solid rgb(0, 81, 255);
    margin-top: 11%;
    color: #ffffff;
}

.Desplegable {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.Desplegable > li > a {
    padding: 1% 1%;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.2%;
    font-weight: 600;
    transition: 0.7s;
}
.Desplegable > li{
    padding: 1% 0  1% 0 ;
}
.Desplegable > li:hover {
    background-color: rgb(255, 255, 255);
}

.Desplegable > li:hover > a {
    color: black;
    transition: 0.7s
}

.Material {
    position: absolute;
    display: none;
    list-style: none;
    width: 10%;
    text-align: center;
    background-color: rgba(151, 29, 131, 0.911 0.5);
}

.Desplegable li:hover .Material {
    margin-top: 0.6%;
    display: block;
    width: 10%;
    transition: 0.7s
}

.Material li:hover a {
    background-color: rgba(59, 59, 59, 0.774);
    cursor: pointer;
}

.Material li a {
    background-color: rgba(2, 0, 24, 0.856);
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 100%;
    font-weight: 600;
    width: 100%;
    padding: 14%;
}
.L > a{
    border-top: 3px solid rgb(0, 81, 255);
    width: 100%;
    padding: 14%;
    overflow: hidden;
}

.M {
    width: 120%;
}
/*Menu*/
.toggle-checkbox {
    display: none;
    z-index: 200;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 24px;
    cursor: pointer;
    margin-right: 5%;
    margin-top: 0.5%;
  }
  
  .hamburger .bar {
    width: 100%;
    height: 4px;
    background-color: #5f5f5f;
    border-radius: 10px;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    position: relative;
    margin-right: 3%;
    z-index: 21;
  }
  .hamburger:hover .bar {
    background-color: #ffffff;
  }
  .abajo .hamburger:hover .bar {
    background-color: #000000;
  }
  
  .toggle-checkbox:checked + .hamburger .bar:nth-child(2) {
    transform: translate(0px, 10px);
    opacity: 0;
    transition-delay: 0.3s;
  }
  
  .toggle-checkbox:checked + .hamburger .bar:nth-child(3) {
    transform: translate(0px, -10px);
    transition-delay: 0s;
  }
  
  .toggle-checkbox:checked + .hamburger .bar:nth-child(1) {
    transform: rotate(-45deg) scale(0.7);
    transition-delay: 0.6s;
  }
  .toggle-checkbox:checked + .hamburger .bar:nth-child(3) {
    transform: rotate(45deg) scale(0.7);
    transition-delay: 0.6s;
  }

  /*Settings*/
.Settings {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: #0D1117;
    justify-content: center;
    border-radius: 5px;
    top: 15vmin;
    right: 10vmin;
  }
  
  .Settings  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .Settings .value:not(:active):hover,
  .value:focus {
    background-color: #21262C;
  }
  
  .Settings .value:focus,
  .Settings .value:active {
    background-color: #1A1F24;
    outline: none;
  }
  
  .Settings .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2F81F7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .Settings .value:focus::before,
  .Settings .value:active::before {
    opacity: 1;
  }
  
  .Settings .value svg {
    width: 15px
  }
  
/*Zona 1*/
.Div1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('Recursos/earth.gif');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Div1 > h1{
    color: #fff;
    font-weight: 800;
    font-family: helvetica;
    font-size: 9rem;
}

/*
.Div1 h1{
    font-size: 82px;
    position: absolute;
    color: white;
    font-weight: 800;
    font-family: helvetica;
    animation: crecer 5s ease-out infinite ;
    animation-delay: 0.5s;
    opacity: 0;
}
@keyframes crecer {
    0% {
        scale: 1;
        opacity: 1;
    }
    50% {
        scale: 1.3;
        opacity: 1;
      }
    100% {
        scale: 1;
        opacity: 1;
    }
}
*/
/*Zona 2*/
.Div2{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('Recursos/cloud-glitter.png');
    background-size: cover;
    background-position: center center;
    display: table;
    justify-content: center;
    align-items: center;
}
.Div2  h1{
    margin-top: 10%;
    margin-bottom: 7%;
    color: #fff;
    font-weight: 800;
    font-family: helvetica;
    font-size: 74px;
}
.Div2  p{
    margin: 0 10% 0 10%;
    color:#fff;
    font-weight: 400;
    font-family: helvetica;
    font-size: 24px;
}
/*Zona 3*/
.Div3{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('Recursos/cloud-glitter.png');
    background-size: cover;
    background-position: center center;
    display: table;
    justify-content: center;
    align-items: center;
}
.Div3  h1{
    margin-top: 3%;
    margin-bottom: 7%;
    color: #fff;
    font-weight: 800;
    font-family: helvetica;
    font-size: 40px;
}
.Div3  p{
    margin: 0 10% 0 10%;
    color:#fff;
    font-weight: 400;
    font-family: helvetica;
    font-size: 24px;
}
/*Efecto scroll*/
.Div1,.Div2,.Div3,.Div4,.Div5,.Div1 h1,.Div2 h1,.Div3 h1,.Div4 h1,.Div1 p,.Div2 p,.Div3 p,.Div4 p{  
    view-timeline-name: --reveal;
    animation-name: scroll;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range:  entry 25% cover 50%;
}
@keyframes scroll{
    0%{
        opacity: 0;
        scale: 10%;
    }
    50%{
        opacity: 1;
        scale: 100%;
    }
}
/*Diseño tarjetas zona 4*/
.Div4 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('Recursos/cloud-glitter.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Div4 > h1{
    position: absolute;
    font-size: 5rem;
    color: #fff;
    margin-bottom: 40%;
    z-index: 11;
}

#Card img, #Cardb img {
    width: 250px;
    height: 334px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 17px;
}

#Card img {
    opacity: 0.7;
}

#Cardb img {
    opacity: 0.4;
}

.first-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    opacity: 1;
    border-radius: 15px;
}

.first-content span {
    position: absolute;
}

.second-content {
    font-size: 0.8rem;
    position: absolute;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    transform: rotate(90deg) scale(-1);
}

.second-content > span {
    position: absolute;
    z-index: 10;
    padding: 15% 5% 0% 5%;
    font-weight: 600;
}

.second-content > h1 {
    margin: 5%;
    margin-bottom: 110%;
    position: absolute;
    z-index: 11;
    font-size: 1.8rem;
}

.first-content > h1 {
    margin: 5%;
    margin-bottom: 110%;
    position: absolute;
    z-index: 11;
    color: #fff;
    margin-top: 100%;
    display: block;
    text-align: center;
}
.card {
    width: 250px;
    height: 334px;
    background: rgb(0, 0, 0);
    transition: all 0.4s;
    border-radius: 17px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    position: relative;
    margin: 2%;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(59, 59, 59, 0.705);
    background: rgba(0, 0, 0, 0.575);
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.card:hover .second-content {
    height: 110%;
    transform: rotate(0deg);
    color: #ffffff;
    opacity: 80%;
}
/*Zona 5*/
.Div5{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('Recursos/cloud-glitter.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Div5 img{
    width: 20px;
    opacity: 0;
    transition: 1.5s;
}
.Comentario{
    transition: 1.5s;
}
.Div5 p{
    position: absolute;
    margin-bottom: 15%;
    color: #fff;
    opacity: 0;
    font-size: 30px;
    font-weight: 900;
    transition: 1.5s;
}
.Comenton img{
    width: 300px;
    transition: 1.5s;
    opacity: 1;
    animation: crecer2 5s ease-out infinite ;
    filter: drop-shadow(15px 20px 25px rgb(0, 247, 255));
}
.Comenton p{
    transition: 1.5s;
    position: absolute;
    margin-bottom: 25%;
    color: #fff;
    opacity: 1;
}
div.Comenton{
    width: 600px;
    height: 600px;
    transition: 1.5s;
    background-color: #292929ab;
    border-radius: 100%;
}
#btnJuego{
    margin-top: 30%;
    opacity: 1;
    position: absolute;
    background-color: black;
    color: #fff;
    padding: 10px 25px 10px 25px;
    border: solid 3px rgb(255, 56, 89);
    border-radius: 12px;
    font-size: 100%;
    font-weight: 900;
    transition: 0.5s;
    box-shadow: 0px 2px 5px 1px rgb(255, 255, 255);
}
#btnJuego:hover{
    border: solid 3px rgb(0, 233, 31);
    box-shadow: 0px 2px 5px 1px rgb(1, 225, 255);
    scale: 1.1;

}
@keyframes crecer2 {
    0% {
        margin-bottom: -10%;
    }
    50% {
        margin-bottom: 8%;
      }
    100% {
        margin-bottom: -10%;
    }
}
/*Diseño Pie de pagina*/

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.box{
    display: block;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    margin-bottom: 26%;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
/*Resposive, hgan algo hdp*/

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}